@font-face {
    font-family: "HighTide";
    src: url(https://dl.frgl.pw/frglpw/HighTide.otf) format("opentype");
}

#frgl-pw {
    font-size: 80px;
    font-family: "HighTide", sans-serif;
    font-weight: unset;
    margin: 0px;
}

.text {
    color: white;
    text-align: center;
}
