@font-face {
    font-family: "HighTide";
    src: url(HighTide.otf) format("opentype");
}

#frgl-pw {
    font-size: 80px;
    font-family: "HighTide", sans-serif;
    font-weight: unset;
    margin: 0px;
}

.text {
    color: black;
    text-align: center;
}
